*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    position:relative;
    width: 90%;
    height: auto;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}
#header_principal{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 250%;
}
#nav_superior{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #000099;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#nav_superior a {
    width: 17%;
    height: 35px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #000099;
    padding-top: 10px;
}

#nav_superior a:hover{
    background-color: #fff;
    color: #000099;
    transition: 2s all;
}

#nav_lateral{
    position: relative;
    width: 20%;
    height: 540px;
    background-color: #999999;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#nav_lateral a{
    color: white;
    text-decoration: none;
    margin:10px
}

/*Espaço entre os links da lateral*/
hr{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #BBBBBB;
}

#meio{
    position: relative;
    width: 60%;
    height: 550px;
    font-size: 250%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}

#header_secundario{
    position: relative;
    width: 95%;
    height: 40px;
    font-size: 55%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
}

#tela{
    position: relative;
    width: 95%;
    height: 200px;
}

#tela img{
    width: 100%;
    height: 100%;
}

p{
    position: relative;
    width: 95%;
    height: 100px;
    background-color:#CCFFFF;
    font-size: 36%;
    padding: 1%;
    
}
#galeria{
    position: relative;
    width: 95%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixinha{
    position: relative;
    width: 30%;
    height: 120px;
    float: left;
}

.caixinha img {
    width: 100%;
    height: 100%;
}


#anuncio{
    position: relative;
    width: 20%;
    height: 550px;
    float: left;
}

#anuncio img{
    width: 100%;
    height: 100%;
}

footer{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    clear: left;
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------------------- Visualização mobile -------------------*/
@media only screen and (max-width: 480px){
    #main {
        width: 98%;

    }

    #nav_superior {
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    #nav_superior a{
        width: 100%;
    }

    #nav_lateral, #anuncio, p, #tela{
        display: none;
    } 

    #meio {
        width: 100%;
    }

    #galeria {
        height: 40px;
        display: flex;
        flex-direction: column;
    }

    .caixinha{
        width: 100%;
    }
}


/*--------- Visualização Tablet ---------*/
@media only screen and (min-width: 481px) {
    @media screen and (max-width: 720px){
        #main {
            width: 95%;
        }

        #nav_superior {
            height: 80%;
            flex-wrap: wrap;
        }

        #nav_superior a{
            width: 33.33%;
            color: #b5bb41;
        }

        #nav_lateral, #anuncio{
            display: none;
            /*Retira o componente do layout*/
        }

        #meio{
            width: 100%;
        }
    }
}